
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Example Partner App</title>
    <!-- EXAMPLE BELOW - REPLACE WITH YOUR PARTNER ID -->
    <meta name="mocaverse-partner-id" content="3f29be20-8eab-42b9-92e9-43b145956ab6"> 
</head>
<body>
    <h1>Example Partner App</h1>
    <button class="join-moca-button" data-token="<%= jwt %>">Join Mocaverse</button>

</body>
    <script src="https://static.mocaverse.xyz/js/partner.js" async></script>
</html>